body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 200px;
}
.digits{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto
}
#num-0{
    grid-column: span 2;
}